aiobotocore==2.5.*
aiofiles==22.1.*
aiohttp==3.8.*
aioitertools==0.7.*
aiosignal==1.2.*
aiosqlite==0.18.*
alabaster==0.7.*
altair==5.1.*
annotated-types==0.5.*
anyio==3.5.*
appdirs==1.4.*
applaunchservices==0.3.*
appnope==0.1.*
appscript==1.1.*
argon2-cffi==21.3.*
argon2-cffi-bindings==21.2.*
arrow==1.2.*
astroid==2.14.*
astropy==5.*
asttokens==2.0.*
async-timeout==4.0.*
atomicwrites==1.4.*
attrs==22.1.*
Automat==20.2.*
autopep8==1.6.*
Babel==2.11.*
backcall==0.2.*
backports.functools-lru-cache==1.6.*
backports.tempfile==1.*
backports.weakref==1.0.*
bcrypt==3.2.*
beautifulsoup4==4.12.*
binaryornot==0.4.*
bleach==4.1.*
blinker==1.6.*
bokeh==3.2.*
boltons==23.0.*
botocore==1.29.*
Bottleneck==1.3.*
brotlipy==0.7.*
cachetools==5.3.*
certifi==2023.7.*
cffi==1.15.*
chardet==4.0.*
charset-normalizer==2.0.*
click==8.0.*
cloudpickle==2.2.*
clyent==1.2.*
colorama==0.4.*
colorcet==3.0.*
comm==0.1.*
conda==23.7.*
conda-build==3.26.*
conda-content-trust==*
conda_index==0.2.*
conda-libmamba-solver==23.5.*
conda-pack==0.6.*
conda-package-handling==2.2.*
conda_package_streaming==0.9.*
conda-repo-cli==1.0.4*
conda-token==0.4.*
conda-verify==3.4.*
constantly==15.1.*
contourpy==1.0.*
cookiecutter==1.7.*
cryptography==39.0.*
cssselect==1.1.*
cycler==0.11.*
cytoolz==0.12.*
dask==2023.6.*
dataclasses-json==0.5.*
datasets==2.12.*
datashader==0.15.*
datashape==0.5.*
debugpy==1.6.*
decorator==5.1.*
defusedxml==0.7.*
diff-match-patch==*
dill==0.3.*
distributed==2023.6.*
docstring-to-markdown==*
docutils==0.18.*
entrypoints==0.*
et-xmlfile==1.1.*
executing==0.8.*
fastjsonschema==2.16.*
filelock==3.9.*
flake8==6.0.*
Flask==2.2.*
fonttools==4.25.*
frozenlist==1.3.*
fsspec==2023.4.*
future==0.18.*
gensim==4.3.*
gitdb==4.0.*
GitPython==3.1.*
glob2==0.*
gmpy2==2.1.*
greenlet==2.0.*
h5py==3.7.*
HeapDict==1.0.*
holoviews==1.17.*
huggingface-hub==0.15.*
hvplot==0.8.*
hyperlink==21.0.*
idna==3.*
imagecodecs==2021.8.*
imageio==2.31.*
imagesize==1.4.*
imbalanced-learn==0.10.*
importlib-metadata==6.0.*
incremental==21.3.*
inflection==0.5.*
iniconfig==1.1.*
intake==0.6.*
intervaltree==3.1.*
ipykernel==6.19.*
ipython==8.12.*
ipython-genutils==0.2.*
ipywidgets==8.0.*
isort==5.9.*
itemadapter==0.3.*
itemloaders==1.0.*
itsdangerous==2.0.*
jaraco.classes==3.2.*
jedi==0.18.*
jellyfish==0.9.*
Jinja2==3.1.*
jinja2-time==0.2.*
jmespath==0.10.*
joblib==1.2.*
json5==0.9.*
jsonpatch==1.3*
jsonpointer==2.*
jsonschema==4.17.*
jupyter==1.0.*
jupyter_client==7.4.*
jupyter-console==6.6.*
jupyter_core==5.3.*
jupyter-events==0.6.*
jupyter-server==1.23.*
jupyter_server_fileid==0.9.*
jupyter_server_ydoc==0.8.*
jupyter-ydoc==0.2.*
jupyterlab==3.6.*
jupyterlab-pygments==0.1.*
jupyterlab_server==2.22.*
jupyterlab-widgets==3.0.*
keyring==23.13.*
kiwisolver==1.4.*
langchain==0.0.28*
langsmith==0.0.3*
lazy_loader==0.*
lazy-object-proxy==1.6.*
libarchive-c==2.*
libmambapy==1.4.*
linkify-it-py==2.0.*
llvmlite==0.40.*
lmdb==1.4.*
locket==1.0.*
lxml==4.9.*
lz4==4.3.*
Markdown==3.4.*
markdown-it-py==2.2.*
MarkupSafe==2.1.*
marshmallow==3.20.*
matplotlib==3.7.*
matplotlib-inline==0.1.*
mccabe==0.7.*
mdit-py-plugins==0.3.*
mdurl==0.1.*
mistune==0.8.*
more-itertools==8.12.*
mpmath==1.3.*
msgpack==1.0.*
multidict==6.0.*
multipledispatch==0.6.*
multiprocess==0.70.1*
munkres==1.1.*
mypy-extensions==0.4.*
navigator-updater==0.4.*
nbclassic==0.5.*
nbclient==0.5.1*
nbconvert==6.5.*
nbformat==5.7.*
nest-asyncio==1.5.*
networkx==3.*
nltk==3.8.*
notebook==6.5.*
notebook_shim==0.2.*
numba==0.57.*
numexpr==2.8.*
numpy==1.24.*
numpydoc==1.5.*
openai==0.28.*
openpyxl==3.0.1*
packaging==23.*
pandas==1.5.*
pandocfilters==1.5.*
panel==1.2.*
param==1.13.*
parsel==1.6.*
parso==0.8.*
partd==1.2.*
pathlib==1.0.*
pathspec==0.10.*
patsy==0.5.*
pep8==1.7.*
pexpect==4.8.*
pickleshare==0.7.*
Pillow==9.4.*
pip==23.2.*
pipeline==0.1.*
pkginfo==1.9.*
platformdirs==2.5.*
plotly==5.9.*
pluggy==1.0.*
ply==3.1*
pooch==1.4.*
poyo==0.5.*
prometheus-client==0.14.*
prompt-toolkit==3.0.*
Protego==0.1.*
protobuf==4.24.*
psutil==5.9.*
ptyprocess==0.7.*
pure-eval==0.2.*
py-cpuinfo==8.0.*
pyarrow==11.0.*
pyasn1==0.4.*
pyasn1-modules==0.2.*
pycodestyle==2.10.*
pycosat==0.6.*
pycparser==2.*
pyct==0.5.*
pycurl==7.45.*
pydantic==2.3.*
pydantic_core==2.6.*
pydeck==0.8.*
PyDispatcher==2.0.*
pydocstyle==6.3.*
pyerfa==2.0.*
pyflakes==3.0.*
Pygments==2.15.*
PyJWT==2.4.*
pylint==2.16.*
pylint-venv==2.3.*
pyls-spyder==0.4.*
Pympler==1.0.*
pyobjc-core==9.*
pyobjc-framework-Cocoa==9.*
pyobjc-framework-CoreServices==9.*
pyobjc-framework-FSEvents==9.*
pyodbc==4.0.*
pyOpenSSL==23.2.*
pyparsing==3.0.*
PyQt5-sip==12.11.*
pyrsistent==0.18.*
PySocks==1.7.*
pytest==7.4.*
python-dateutil==2.8.*
python-dotenv==1.0.*
python-json-logger==2.0.*
python-lsp-black==1.2.*
python-lsp-jsonrpc==1.0.*
python-lsp-server==1.7.*
python-slugify==5.0.*
python-snappy==0.6.*
pytoolconfig==1.2.*
pytz==2022.*
pytz-deprecation-shim==0.1.*
pyviz-comms==2.3.*
PyWavelets==1.4.*
PyYAML==6.*
pyzmq==23.2.*
QDarkStyle==3.0.*
qstylizer==0.2.*
QtAwesome==1.2.*
qtconsole==5.4.*
QtPy==2.2.*
queuelib==1.5.*
regex==2022.7.*
requests==2.31.*
requests-file==1.5.*
requests-toolbelt==1.0.*
responses==0.13.*
rfc3339-validator==0.1.*
rfc3986-validator==0.1.*
rich==13.5.*
rope==1.7.*
Rtree==1.0.*
ruamel.yaml==0.17.*
ruamel-yaml-conda==0.17.*
s3fs==2023.4.*
sacremoses==0.0.*
scikit-image==0.20.*
scikit-learn==1.3.*
scipy==1.10.*
Scrapy==2.8.*
seaborn==0.12.*
Send2Trash==1.8.*
sentencepiece==0.1.*
service-identity==18.1.*
setuptools==68.0.*
sip==6.6.*
six==1.16.*
smart-open==5.2.*
smmap==5.0.*
sniffio==1.2.*
snowballstemmer==2.2.*
sortedcontainers==2.4.*
soundfile==0.12.*
soupsieve==2.*
Sphinx==5.0.*
sphinxcontrib-applehelp==1.0.*
sphinxcontrib-devhelp==1.0.*
sphinxcontrib-htmlhelp==2.0.*
sphinxcontrib-jsmath==1.0.*
sphinxcontrib-qthelp==1.0.*
sphinxcontrib-serializinghtml==1.1.*
spyder==5.4.*
spyder-kernels==2.4.*
SQLAlchemy==1.4.*
stack-data==0.2.*
statsmodels==0.14.*
streamlit==1.26.*
sympy==1.11.*
tables==3.8.*
tabulate==0.8.*
TBB==0.*
tblib==1.7.*
tenacity==8.2.*
terminado==0.17.*
text-unidecode==1.*
textdistance==4.2.*
threadpoolctl==2.2.*
three-merge==0.1.*
tifffile==2021.7.*
tinycss2==1.2.*
tldextract==3.2.*
tokenizers==0.13.*
toml==0.10.*
tomlkit==0.11.*
toolz==0.12.*
torch==2.0.*
torchaudio==2.0.*
tornado==6.3.*
tqdm==4.65.*
traitlets==5.7.*
transformers==4.29.*
Twisted==22.10.*
typing_extensions==4.7.*
typing-inspect==0.9.*
tzdata==2023.*
tzlocal==4.3.*
uc-micro-py==1.0.*
ujson==5.4.*
Unidecode==1.2.*
urllib3==1.26.1*
validators==0.22.*
w3lib==1.21.*
watchdog==2.1.*
wcwidth==0.2.*
webencodings==0.5.*
websocket-client==0.58.*
Werkzeug==2.2.*
whatthepatch==1.0.*
wheel==0.38.*
widgetsnbextension==4.0.*
wrapt==1.14.*
wurlitzer==3.0.*
xarray==2023.6.*
xlwings==0.29.*
xxhash==2.0.*
xyzservices==2022.9.*
y-py==0.5.*
yapf==0.31.*
yarl==1.8.*
ypy-websocket==0.8.*
zict==2.2.*
zipp==3.11.*
zope.interface==5.4.*
zstandard==0.19.*
